VITE_DEPLOYMENT_TARGET=
VITE_MEDUSA_BACKEND_URL=
VITE_MEDUSA_PUBLISHABLE_KEY=

# For development
VITE_PORT=
VITE_HMR_PORT=

VITE_WHATSAPP_NUMBER=
VITE_PAYMENTS_ENABLED=
VITE_PAYMENT_PROVIDER_ENABLED=

# Google Integrations
VITE_GOOGLE_MAPS_EMBED_API_KEY=
