VITE_DEPLOYMENT_TARGET=vercel
VITE_MEDUSA_BACKEND_URL=http://localhost:9000
VITE_MEDUSA_PUBLISHABLE_KEY=YOUR_PUBLISHABLE_KEY

# For development
VITE_PORT=5174
VITE_HMR_PORT=24677

VITE_WHATSAPP_NUMBER=5511948777156
VITE_PAYMENTS_ENABLED=false
VITE_PAYMENT_PROVIDER_ENABLED=false

# Google Integrations
VITE_GOOGLE_MAPS_EMBED_API_KEY=
